<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!---Custom CSS File--->
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Micalls</title>
</head>
<body>
    <h1>Welcome to Micalls</h1>
    <button type="button" href="{% url 'login' %}">Sign In</button>
    <button type="button" href="{% url 'register' %}">Sign Up</button>

</body>
</html>